@import "_font-awesome.min";
@import "_ot_buttons";
@import "_ot_drawer";
@import "_ot_icons";
@import "_ot_popup";
@import "_ot_spinner";
@import "_os";
@import "_quill.snow";

/* Create a two-columns layout: the left one holds the style buttons for now
 * but should ultimately also contain the TOC and infos and settings (username,
 * connectee list..). */

/* Mixin for collapsing elements. Height is reduced to 0; margin, padding and
 * border are also reduced to 0 and whatever overflows is hidden. This
 * preserves the element width, only reduces its effective height to 0. */
/* @mixin collapsed()
{
  height: 0;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-width: 0px;
} */

/* Padding around the whole UI. */
$global_padding: 8px;

/* Usable screen height: 100% viewport height, minus top and bottom paddings,
 * minus top and bottom borders. */
$screen_height: calc(100vh - 2 * 8px - 2 * 1px);

/* Typical border for containers; */
$container_border: 1px solid #ccc;

/* Use flexbox for the two-columns layout. */
div.os-body
{
  display: flex;

  /* Fill the UI vertically. */
  height: $screen_height;

  flex-direction: column;

  > *
  {
    width: 100%;
  }

  > .editor_group
  {
    display: flex;
    flex-direction: row;
    height: 100%;

    .ql-container.ql-snow
    {
      width: 100%;
    }

    .quill.editor::before {
      content: "Edit zone"
    }

    .quill.server::before {
      content: "Server view (document on the server)"
    }

    .quill.merger::before {
      content: "Merge view (result document if your changes were sent now)"
    }
  }
}


div.os-body:not(.prose-disconnected) .editor_group {
  .quill.server, .quill.merger {
    display: none;
  }

  .quill::before {
    display: none;
  }
}

div.os-body.prose-disconnected .editor_group {
  .editor {
    display: inline-block;
  }
}

/* The zone for the actual content (as opposed to the navigation and menus. */
.ql-container.ql-snow
{
  overflow: auto;

  /* Hide the border of the quill widget: we already have one around it. */
  /* > .ql-container.ql-snow
  {
    border-width: 0px;
  } */

  /* When a content element is "hidden", it is collapsed vertically. */
  /* > .hidden
  {
    @include collapsed();
  } */

  /* Reduce the padding around the editor a bit (I find that we don't need as
   * much padding as the defaults because we already have some at the global UI
   * level.  */
  .ql-editor
  {
    padding: 0.5em;
  }

  /* Put the same padding as above left and right around the editor. There are
   * already vertical margins, especially around the text's top <h1> and I
   * don't want to start messing with it merely for the about text. */
  div.about
  {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  /* background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='10%' height='10%'><text x='0' y='11' fill='red'>\1F4DD</text></svg>");
  background-repeat: no-repeat;

  > * {
    background-color: white;
  } */
}

.exports {
  margin: 1em;

  li {
    display: inline;
    margin: 1em;
    list-style-type: none;
  }
}

.exports:not(:hover) {
  li {
    display: none;
  }
}
